#### 1 加载数据

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("./MarTech-Challenge-data/train.csv")

In [5]:
df

,order_detail_id,order_id,order_total_num,order_amount,order_total_payment,order_total_discount,order_pay_time,order_status,order_count,is_customer_rate,...,customer_gender,member_status,is_member_actived,goods_id,goods_class_id,goods_price,goods_status,goods_has_discount,goods_list_time,goods_delist_time
0,1000000,1000000,1.0,239.9,96.9,0.0,2012-11-01 00:10:56,6,1.0,0.0,...,NaN,NaN,NaN,998,998,54.909289,1.0,0.0,2014-10-25 11:08:07,2014-11-01 11:08:07
1,1001530,1001327,2.0,288.0,96.9,0.0,2013-08-31 23:14:42,6,2.0,0.0,...,NaN,NaN,NaN,1953,1953,45.961352,0.0,1.0,2013-08-28 17:27:50,2013-09-01 00:38:17
2,1001531,1001327,2.0,288.0,96.9,0.0,2013-08-31 23:14:42,6,2.0,0.0,...,NaN,NaN,NaN,1083,1083,53.035439,1.0,0.0,2014-10-29 18:21:05,2014-11-05 18:21:05
3,1001532,1001328,3.0,180.0,89.7,0.0,2013-08-31 22:06:35,6,1.0,0.0,...,NaN,NaN,NaN,1013,1013,46.046917,1.0,1.0,2014-10-25 11:00:00,2014-11-01 11:00:00
4,1001533,1001329,1.0,159.9,65.9,0.0,2013-08-31 21:33:36,6,1.0,0.0,...,NaN,NaN,NaN,1628,1628,50.722161,1.0,0.0,2014-10-23 15:35:33,2014-10-30 15:35:33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2306866,3685495,3238358,1.0,199.0,59.9,0.0,2013-01-10 19:24:31,6,1.0,0.0,...,0.0,1.0,1.0,1173,1173,53.012016,1.0,0.0,2014-10-25 10:14:59,2014-11-01 10:14:59
2306867,3685496,3238359,2.0,299.8,89.9,0.0,2013-01-27 15:00:27,6,2.0,0.0,...,0.0,1.0,1.0,2513,2513,42.693822,2.0,0.0,2014-01-10 15:56:40,2014-01-11 12:46:19
2306868,3685497,3238359,2.0,299.8,89.9,0.0,2013-01-27 15:00:27,6,2.0,0.0,...,0.0,1.0,1.0,998,998,54.889036,1.0,0.0,2014-10-25 11:08:07,2014-11-01 11:08:07
2306869,3685498,3238360,1.0,168.0,76.9,0.0,2012-11-11 00:10:37,6,1.0,0.0,...,0.0,1.0,1.0,1423,1423,52.078004,1.0,0.0,2014-10-30 09:31:53,2014-11-06 09:31:53
2306870,3685499,3238361,1.0,102.0,49.9,0.0,2013-07-10 14:22:14,6,1.0,0.0,...,0.0,1.0,1.0,1043,1043,46.114765,1.0,1.0,2014-10-28 00:03:12,2014-11-04 00:03:12

#### 2 查看数据统计信息

In [6]:
df.describe()

,order_detail_id,order_id,order_total_num,order_amount,order_total_payment,order_total_discount,order_status,order_count,is_customer_rate,order_detail_status,...,member_id,customer_id,customer_gender,member_status,is_member_actived,goods_id,goods_class_id,goods_price,goods_status,goods_has_discount
count,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,...,2.306871e+06,2.306871e+06,635790.000000,635790.0,635790.0,2.306871e+06,2.306871e+06,2.306435e+06,2.306871e+06,2.306871e+06
mean,2.340043e+06,2.136152e+06,1.684285e+00,3.108007e+02,1.114688e+02,5.908662e+00,9.858623e+00,1.767748e+00,3.141311e-02,1.035626e+01,...,5.789832e+05,1.933233e+06,0.079095,1.0,1.0,1.558213e+03,1.558213e+03,5.219550e+01,1.091712e+00,8.613616e-02
std,7.740314e+05,6.500690e+05,3.941060e+00,4.040238e+02,1.644054e+02,1.711463e+01,1.922945e+01,4.800121e+02,1.744315e-01,2.027679e+01,...,1.075381e+06,5.538885e+05,0.361848,0.0,0.0,7.803288e+02,7.803288e+02,6.325725e+00,3.937307e-01,2.805651e-01
min,1.000000e+06,1.000000e+06,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,1.000000e+06,0.000000,1.0,1.0,9.980000e+02,9.980000e+02,-7.997479e+01,0.000000e+00,0.000000e+00
25%,1.669684e+06,1.571484e+06,1.000000e+00,1.990000e+02,6.690000e+01,0.000000e+00,6.000000e+00,1.000000e+00,0.000000e+00,6.000000e+00,...,0.000000e+00,1.436434e+06,0.000000,1.0,1.0,1.038000e+03,1.038000e+03,4.960044e+01,1.000000e+00,0.000000e+00
50%,2.339350e+06,2.142988e+06,1.000000e+00,2.399000e+02,8.990000e+01,0.000000e+00,6.000000e+00,1.000000e+00,0.000000e+00,6.000000e+00,...,0.000000e+00,1.929569e+06,0.000000,1.0,1.0,1.233000e+03,1.233000e+03,5.390926e+01,1.000000e+00,0.000000e+00
75%,3.007430e+06,2.707954e+06,2.000000e+00,3.398000e+02,1.131700e+02,5.000000e+00,6.000000e+00,2.000000e+00,0.000000e+00,6.000000e+00,...,4.834840e+05,2.457816e+06,0.000000,1.0,1.0,1.643000e+03,1.643000e+03,5.485061e+01,1.000000e+00,0.000000e+00
max,3.685499e+06,3.238361e+06,1.700000e+03,1.023740e+05,9.840150e+04,1.960000e+03,1.010000e+02,7.290610e+05,1.000000e+00,1.010000e+02,...,4.161555e+06,2.826574e+06,2.000000,1.0,1.0,6.673000e+03,6.673000e+03,9.235260e+01,2.000000e+00,1.000000e+00

In [7]:
len(set(df["customer_id"]))

1585986

In [9]:
df["customer_id"].value_counts()

1024997    138
1024087     99
1003507     92
1001232     76
2572490     64
          ...
1189549      1
1193647      1
1230513      1
1236658      1
1001961      1
Name: customer_id, Length: 1585986, dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2306871 entries, 0 to 2306870
Data columns (total 29 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_detail_id         int64
 1   order_id                int64
 2   order_total_num         float64
 3   order_amount            float64
 4   order_total_payment     float64
 5   order_total_discount    float64
 6   order_pay_time          object
 7   order_status            int64
 8   order_count             float64
 9   is_customer_rate        float64
 10  order_detail_status     float64
 11  order_detail_goods_num  float64
 12  order_detail_amount     float64
 13  order_detail_payment    float64
 14  order_detail_discount   float64
 15  customer_province       object
 16  customer_city           object
 17  member_id               float64
 18  customer_id             int64
 19  customer_gender         float64
 20  member_status           float64
 21  is_member_actived       float64
 22  goods_id                int64
 23  goods_class_id          int64
 24  goods_price             float64
 25  goods_status            float64
 26  goods_has_discount      float64
 27  goods_list_time         object
 28  goods_delist_time       object
dtypes: float64(18), int64(6), object(5)
memory usage: 510.4+ MB

In [10]:
df.isnull().sum()

order_detail_id                 0
order_id                        0
order_total_num                 0
order_amount                    0
order_total_payment             0
order_total_discount            0
order_pay_time                  0
order_status                    0
order_count                     0
is_customer_rate                0
order_detail_status             0
order_detail_goods_num          0
order_detail_amount             0
order_detail_payment            0
order_detail_discount           0
customer_province            1139
customer_city                1150
member_id                       0
customer_id                     0
customer_gender           1671081
member_status             1671081
is_member_actived         1671081
goods_id                        0
goods_class_id                  0
goods_price                   436
goods_status                    0
goods_has_discount              0
goods_list_time                 0
goods_delist_time               0
dtype: int64

#### 3 查看订单时间

In [11]:
df["order_pay_time"].value_counts()

2012-11-11 00:00:19    1011
2012-11-11 00:00:21     977
2012-11-11 00:00:20     971
2012-11-11 00:00:17     962
2012-11-11 00:00:18     958
                       ...
2013-04-14 00:08:56       1
2013-08-23 09:00:08       1
2013-01-20 10:59:31       1
2013-03-13 15:49:05       1
2013-03-25 10:21:47       1
Name: order_pay_time, Length: 1329697, dtype: int64

In [12]:
min(df["order_pay_time"])

'2012-11-01 00:00:07'

In [13]:
max(df["order_pay_time"])

'2013-08-31 23:59:59'

In [18]:
len(df["customer_id"][df.order_pay_time>"2013-07-31"].unique())

174770

In [19]:
len(df["customer_id"][df.order_pay_time<"2013-07-31"].unique())

1434115